body
{
  background:   #EEE;

#container
{
  background:   #FFF;
  border:       1px solid #CCC;
  margin:       auto;
  padding:      20px 50px 40px;
  width:        960px;

  h1, h2
  {
    border-bottom:  1px solid #CCC;
  }

}
}